body {
    font-family: Inter, sans-serif;
    text-rendering: optimizeLegibility;
}

p {
    padding: 5px;
    margin: 0;
}

a {
    color: blue;
    text-decoration: none;
}

@font-face {
    font-family: "Inter";
    src: url("/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
}